/* CONTENEDOR GENERAL */

.agenda-table {

  background: #f3f4f6;
  border-radius: 20px;
  padding: 15px;
  border-collapse: separate !important;
  border-spacing: 0 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
   border: 2px solid #e0e0e0;

}


/* HEADER */

.agenda-table thead tr {

  background: transparent;

}

.agenda-table thead th {

  background: #dcdcdc !important;
  border: none !important;
  padding: 18px;
  font-weight: bold;

}


/* Bordes redondos header */

.agenda-table thead th:first-child {

  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

}

.agenda-table thead th:last-child {

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}


/* FILAS */

.agenda-table tbody tr {

  background: white;
  border-radius: 12px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.05);

}


/* CELDAS */

.agenda-table tbody td {

  padding: 18px;
  border: none !important;

}


/* Bordes redondos filas */

.agenda-table tbody td:first-child {

  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

}

.agenda-table tbody td:last-child {

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}


/* HOVER SUAVE */

.agenda-table tbody tr:hover {

  background: #f7f8fc;
  transition: 0.2s;

}