.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}


.content {
  flex: 1;
  background: #f3f4f6;
  padding: 40px;
  width: 100%;
}


.sidebar {
  width: 260px;
  background: #1e3a8a;
  color: white;
  padding: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  width: 70px;
  border-radius: 50%;
}

.nav-btn {
  width: 100%;
  color: white !important;
  justify-content: flex-start !important;
  margin-bottom: 10px !important;
}